@font-face {
    font-family: "Alimama DongFangDaKai";
    src: url("Alimama_DongFangDaKai_Regular.eot"); /* IE9 */
    src: url("Alimama_DongFangDaKai_Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Alimama_DongFangDaKai_Regular.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Alimama_DongFangDaKai_Regular.woff") format("woff"), /* chrome, firefox */
    url("Alimama_DongFangDaKai_Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Alimama_DongFangDaKai_Regular.svg#Alimama DongFangDaKai") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


